body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header,
footer {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
}

main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteiner {
    width: 500px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

input[type="number"] {
    border: 5px solid darkblue;
    height: 50px;
    width: 80%;
    margin-bottom: 20px;
    padding: 0 20px;
    font-size: 18px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

input[type="number"]:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.check_box {
    margin-bottom: 20px;
}

.btn_back {
    height: 50px;
    width: 80%;
    background-color: #0275d8;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn_back:hover {
    background-color: #025aa5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.loading {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 2;
}

.loading-circle {
    margin-top: 10%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #ccc;
    border-top-color: #0275d8;
    margin-left: 45%;
    animation: spin 1s linear infinite;
}

.loading-text {
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
    color: #0275d8;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
